body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    background-color: #30353b;
    }
 

    .right {
    float: right;
    padding:0;
    }
    h5 {
    color:#535c65;
    } 
    .button {
    background-color: #ff7607; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    width: 100%;
    display:table-cell;
    cursor: pointer;
    height: 50px;
    }
    .button_con {
    display:flex;
    }
    .form_header {
    background-color: #30353b;
    color: #f2f2f2;
    font-size: 17px;
    padding:13px 11px;
    line-height: 150%;
    margin-bottom: 0;
    margin-top: 15px;
    }
    .mood-mobile {
    width: 100%;
    text-align: center;
    }
    .form_middle {
    background-color: #f0f0f1;
    color: #535c65;
    font-size: 11px;
    padding: 19px 11px;
    line-height: 190%;
    }
    .arrow {
    display: inline-block; 
    width: 12px; 
    filter: invert(.3);
    margin-right: 6px;
    }
    .price {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 3px;
    }
    .price_description {
    font-size: 12px;
    text-decoration: line-through;
    margin-bottom: 3px;
    font-weight: bold;
    }
    .price_con {
    position: relative;
    top: 50%;
    transform: translateY(8%);
    }
    .arrowCircle_image {
    width: 46px;
    }

    .arrowCircle{
    text-align: right;
    padding: 0;
    }
    .image {
    width: 200px;
    }
    .maxWidth {
    max-width:380px;
    margin:0 auto;
    }
    .close{
    width: 13px;
    height: 13px;
    margin-top: -5px;
    margin-right: -4px;
    opacity: .8;  
    filter: alpha(opacity=80); /* For IE8 and earlier */
    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width:768px) { 
    .maxWidth {
    max-width:100%;
    margin: 0 auto;
    }
    .white_box {
    background-color: #fff; 
    border: none;
    color: #535c65;
    font-size: 12px;
    width: 73%;
    float: right;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    padding:20px;
    margin-right: 18px;
    }
    .con{
    width: 868px;
    height:600px;  
    background-image: url("../images/mood.jpg");
    background-repeat:no-repeat;
    background-size:contain; 
    margin-right: auto;
    margin-left: auto;  
    display: flex;  
    } 
    .logo {
    background-color: #fff;
    width: 220px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    }
    .left{
    margin-left: 20px;
    }
    .footer {
        font-size: 11px;
        margin:-5px 0 10px 0 ;
        bottom: 15px;
        width: 100%;
        color: #cccccc;
        text-align: center;
        }
    }
    /* Small devices (tablets, up to 768px) */
    @media (max-width:768px) {
    .logo {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 2px;
    }
    .white_box {
    background-color: #fff; 
    border: none;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding:20px;
    }
    .con{
    width: 100%;
    overflow-x: hidden;
    } 
    .footer {
        font-size: 11px;
        margin:  10px 0 ;
        width: 100%;
        color: #cccccc;
        text-align: center;
        }


    }
    /* Medium devices (desktops, between 992px and 768px) */
    @media (min-width: 768px) and (max-width: 992px) {  
    }
    /* Medium devices (desktops, up to 992px) */
    @media (max-width: 992px) {  
    }
    /*  Medium devices (desktops, 992px and up)  */
    @media (min-width: 992px) {  
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1104px) {
    .maxWidth {
    max-width:1104px;
    } 
    }